/*---------------------------------
プロフィール編集画面
---------------------------------*/

/* 配置設定：画像と画像選択ボタンが横並び */
.avatar-path__group {
    display: flex;
    align-items: center;
    gap: clamp(1.6rem, 4vw, 2.5rem);
}

/* プロフィール画像 */

.avatar {
    inline-size: clamp(64px, 12vw, 160px); /* width */
    block-size: clamp(64px, 12vw, 160px); /* height */
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border: 2px solid #ccc;
    display: block;
}

/* プロフィール画像選択 */
.avatar-path__input {
    appearance: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0 none;
    width: 0;
    height: 0;
    font-size: 100%;
    line-height: inherit;
}

.avatar-path__label {
    display: inline-block;
    padding: clamp(0.6rem, 2vw, 1rem) clamp(1.2rem, 4vw, 2rem);
    font-size: clamp(1rem, 2vw, 1.4rem);
    font-weight: bold;
    color: #ff6b6b;
    border: 2px solid #ff6b6b;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    background: #fff;
}

.avatar-path__label:hover {
    background: #ff6b6b;
    color: #fff;
    cursor: pointer;
}

/*---------------------------------
プロフィール画面
---------------------------------*/

/* 配置設定：画像とプロフィール編集リンクが横並び*/
.profile {
    display: flex;
    align-items: center;

    justify-content: space-between;
    flex-wrap: wrap;

    gap: clamp(1rem, 3vw, 2rem);
    /* margin: clamp(1rem, 2vw, 2rem); */

    margin: clamp(1rem, 2vw, 2rem) auto;
    padding-inline: clamp(5rem, 8vw, 15rem);
}

.profile__info {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 200px;
}

/* ユーザー名 */
.profile__name {
    font-size: clamp(2rem, 2vw, 5rem);
    margin-left: clamp(2rem, 4vw, 10rem);
}

/* 評価 */
.profile-rating .star {
    font-size: 22px;
    color: #ccc;
    margin-right: 2px;
}

.profile-rating .star--active {
    color: #ffd700 !important;
}

/* プロフィールを編集リンク */
.profile__link {
    flex: 0 0 auto;
}

/* ボタン風リンク */
.profile__link-edit {
    display: inline-block;
    padding: clamp(0.8rem, 2vw, 1rem) clamp(1.6rem, 4vw, 2rem);
    font-size: clamp(1rem, 2vw, 1.6rem);
    border: 2px solid #ff5555;
    border-radius: 6px;
    background-color: #fff;
    color: #ff5555;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    transition:
        background 0.2s,
        color 0.2s;
}

.profile__link-edit:hover {
    background: #ff5555;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    .profile {
        flex-direction: column;
        align-items: flex-start;
    }
    .profile__link {
        width: 100%;
        margin-top: 1rem;
    }
    .profile__link-edit {
        display: block;
        width: 100%;
        text-align: center;
    }
}
