/* タブ帯（上下の線だけ全幅） */
.tabs {
    border-bottom: 2px solid #5f5f5f; /* 下線で区切り */
    margin-bottom: clamp(2.5rem, 3vw, 5rem);
}

/* タブ全体 */
.tabs__nav {
    display: flex;
    gap: clamp(3rem, 6vw, 15rem);
    /* padding: clamp(0rem, 0.5vh, 0.8rem) clamp(1rem, 1vw, 5rem); */
    margin-top: clamp(0.4rem, 4vh, 6rem);
    /* margin-left: clamp(2rem, 10vw, 30rem); */
    padding-left: 200px;
    border-bottom: 2px solid #5f5f5f;
}

/* タブリンク */
.tabs__nav a {
    text-decoration: none;
    font-size: clamp(0.7rem, 2vw, 2.4rem);
    white-space: nowrap;
    overflow: visible;
    color: #5f5f5f;
    font-weight: 700;
    padding: 0.5rem 0;
    transition:
        color 0.2s,
        border-color 0.2s;
}

/* ホバー時 */
.tabs__nav a:hover {
    color: #000;
}

/* アクティブタブ */
.tabs__nav a.is-active {
    font-weight: bold;
    color: #ff0000;
}

/* 未読数バッジ */
.tabs__badge{
    background-color: #FF0000;
}
