/* ============================
全体レイアウト
============================ */

.transactions {
    display: flex;
    min-height: 100vh;
    height: auto;
}

/* ============================
左サイドバー
============================ */
.transactions-sidebar {
    width: 260px;
    background: #868686;
    padding: 10px;
}

.transactions-sidebar__title {
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 50px 0;
    text-align: center;
}

.transactions-sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.transactions-sidebar__item {
    margin-bottom: 12px;
}

.transactions-sidebar__item.is-active .transactions-sidebar__link {
    background: #fff;
    border-left: 4px solid #ff7676;
}

/* その他の取引中アイテム */
.transactions-sidebar__name {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.transactions-sidebar__link {
    max-width: 200px;
    display: block;
    padding: 0 2px;
    background: #eeefeb;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 5px;
}

.transaction-sidebar__badge {
    display: inline-block;
    background: #ff5555;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 8px;
}

/* ============================
右メインエリア
============================ */
.transactions-main {
    flex: 1;
}

/* .transactions-main {
    display: flex;
    flex:1;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
} */

/* 上部ヘッダー */
.transactions-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 30px;
}

.avatar--header {
    width: 79px;
    height: 79px;
}

.transactions-header__title {
    font-size: 36px;
    font-weight: 700;
}

.transactions-header__complete {
    background: #ff8282;
    border: none;
    padding: 10px 14px;
    margin-left: 700px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

/* ============================
商品情報エリア
============================ */
.transactions-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    border-top: 2px solid #5f5f5f;
    border-bottom: 2px solid #5f5f5f;
}

.transactions-item__image img {
    width: 203px;
    height: 206px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 15px;
}

.transactions-item__name {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
}

.transactions-item__price {
    font-size: 36px;
    font-weight: 400px;
    color: #000000;
}

/* ============================
メッセージ一覧
============================ */
/* メッセージ共通 */
.transactions-message {
    max-width: 1500px;
    /* min-width: 600px; */
    display: flex;
    flex-direction: column;
    margin: 25px 30px 30px 30px;
    /* height:auto; */
}

.transactions-message__profile {
    display: flex;
    align-items: center;
}

.transactions-message__profile {
    gap: 20px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    background: #d9d9d9;
}
.avatar--message {
    width: 60px;
    height: 60px;
}

.transactions-message__user {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.transactions-message__body {
    max-width: 100%;
    width: auto;
    min-width: 0;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #d9d9d9;
    margin-top: 10px;
}

.transactions-message__text {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #d9d9d9;
    margin: 0;
    padding: 5px;
}

.transactions-message__image {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    object-fit: contain;
}

/* 自分のメッセージ */
.transactions-message--me {
    margin-left: auto;
    justify-content: flex-end;
}

.transactions-message--me .transactions-message__profile {
    display: flex;
    flex-direction: row-reverse; /* アバターを右側に */
    align-items: center;
}

/* 相手のメッセージ（左寄せ） */
.transactions-message--other {
    margin-right: auto;
}

.transactions-message--other .transactions-message__profile {
    display: flex;
    flex-direction: row; /* アバターを左側に */
    align-items: center;
}

.transactions-message__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.action-btn {
    font-size: 15px;
    font-weight: 400;
    color: #5f5f5f;
    border: none;
    background-color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ============================
新規投稿フォーム
============================ */
.transactions-input {
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 260px; /* サイドバー分 */
    right: 0;
    background: #fff;
    padding: 5px 20px;
}

.transactions-input__form {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.transactions-input__textarea {
    width: 80%;
    height: 45px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    padding: 10px;
    resize: vertical;

    font-size: 20px;
    font-weight: 700;
    color: #7b7b7b;
}

.transactions-input__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 画像追加ボタン */
.transactions-input__image-button {
    display: inline-block;
    padding: 6px 14px;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.transactions-input__image-button input {
    display: none;
}

.transactions-input__send {
    border: none;
    background-color: #ffffff;
}

.send-icon {
    width: 80px;
    height: 61px;
    object-fit: contain;
    cursor: pointer;
}

/* ============================
編集用フォーム
============================ */

.transactions-input__footer {
    display: flex;
    justify-content: flex-start;
}

.transactions-input__edit {
    width: 125px;
    background-color: #ff7676;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.message-edit__form--text {
    font-size: 20px;
}

/* ============================
評価モーダル
============================ */

/* --- モーダルを画面中央へ配置 --- */
.rating-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* 横の中央 */
    align-items: center; /* 縦の中央 */
}

/* モーダルの箱 */
.rating-modal__content {
    background: #fdfce6;
    /* padding: 24px 30px; */
    border-radius: 15px;
    border: 1px solid #000000;
    width: 600px;
}

/* テキスト */
.rating-modal__title {
    font-size: 35px;
    font-weight: 400;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-left: 30px;
}

.rating-modal__text {
    font-size: 20px;
    font-weight: 400;
    color: #868686;
    padding-left: 30px;
}

/* スター */
.rating-modal__stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid #000000;
}

/* ラジオボタンは非表示 */
.rating-modal__stars input[type="radio"] {
    display: none;
}

/* 星の基本スタイル */
.rating-modal__stars label {
    font-size: 100px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease;
}

/* マウスホバーで左側まで黄色に */
.rating-modal__stars label:hover,
.rating-modal__stars label:hover ~ label {
    color: #fff048;
}

/* 選択後：その星と左側が全部黄色になる */
.rating-modal__stars input[type="radio"]:checked ~ label {
    color: #fff048;
}

/* 送信ボタン */
.rating-modal__submit {
    width: 127px;
    height: 49px;
    background-color: #ff8282;
    border-radius: 5px;
    border: 1px solid #ff8282;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin: 18px 0 8px 450px;
}
